.nav {
  @apply bg-white fixed z-40 top-0 left-0 w-full;
  @apply lg:bg-opacity-75 lg:backdrop-blur;

  // Navigation container
  &-container {
    @apply container;
    @apply p-4 lg:p-6;
    @apply flex flex-row flex-wrap items-center justify-between;
  }

  // Navigation toggler
  &__toggler {
    @apply w-11 h-11;
    @apply flex flex-col items-center justify-center;
    @apply lg:hidden;

    & > .icon {
      @apply w-6 h-[1.4px];
      @apply bg-heading absolute;
      @apply transition-all duration-[250] ease-in-out;

      &:nth-child(1) {
        @apply translate-y-2;
        animation: nav-icon-1 300ms ease-in-out forwards;
      }

      &:nth-child(3) {
        @apply -translate-y-2;
        animation: nav-icon-3 300ms ease-in-out forwards;
      }
    }

    &.active > .icon {
      &:nth-child(1) {
        animation: nav-icon-1--active 300ms ease-in-out forwards;
      }

      &:nth-child(2) {
        @apply w-0;
      }

      &:nth-child(3) {
        animation: nav-icon-3--active 300ms ease-in-out forwards;
      }
    }
  }

  // Navigation menu
  &-menu {
    @apply w-full h-full bg-white lg:bg-transparent;
    @apply fixed top-20 left-0 -z-10;
    @apply opacity-0 invisible -translate-y-4;
    @apply transition-all duration-300 ease-in-out;

    @apply lg:static lg:z-0 lg:w-auto lg:h-auto;
    @apply lg:opacity-100 lg:visible lg:translate-y-0;
    @apply lg:flex lg:flex-row lg:flex-grow;

    &.active {
      @apply opacity-100 visible translate-y-0;
    }

    &-links {
      @apply flex flex-col items-start justify-start;
      @apply lg:flex-row lg:items-center lg:justify-end lg:gap-x-6 xl:gap-x-8 lg:flex-grow;

      > li {
        @apply w-full;
        @apply lg:w-auto;

        > a {
          @apply py-2.5 block;
          @apply lg:text-base xl:text-lg;
          @apply hover:text-heading;
          @apply focus:text-heading;
          @apply lg:whitespace-nowrap;
        }
      }
    }

    &-buttons {
      @apply flex flex-col items-center justify-center gap-2;
      @apply lg:flex-row lg:justify-end flex-grow;

      > button {
        @apply w-full;
        @apply lg:w-auto;
      }
    }
  }
}
