.header-image-animation {
  opacity: 0;
  transform: translateY(25px);
  animation: header-image-animation 0.5s 0.8s ease-in-out forwards;
}

@keyframes header-image-animation {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 100;
    transform: translateY(-1px);
  }
}
